    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        /* background: red; */
    }
    .content-1{
        /* background: purple; */
        text-transform: capitalize;
        line-height: 3.5;
        width: 100%;
    }
    
    .content-2{
        padding: 1rem 0;
        text-transform: capitalize;
    }
    
    .container{
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* background: brown; */
        height: 100%;
        margin: 0 auto;
        gap: 15px;
        justify-content: center;
        /* position: relative; */
    }
    .cell{
    height: 20%;
    display: table;
    position: relative;
    }
    
    
    .cell-1{ 
        /* background: green; */
        align-self: flex-start;
        
    } 
    
    .cell-2{ 
        /* background: yellow; */
        /* margin-bottom: 3rem; */
    } 
    
    .cell-3{ 
        /* background: indigo; */
    } 
    
    .cell-4{ 
        /* background: violet; */
    } 
    .cell-5{ 
        /* background: midnightblue; */
    } 
    
    .cell-6{ 
        /* background: black; */
    } 
    
    /* img span wrting-mode and h4 */
    img{
        width: 95%;
        height: 50%;
    }
    
    span{
        writing-mode: vertical-rl;
        position: absolute;
        /* right: 48%; */
        font-weight: bold;
    }
    .span-2,.span-4,.span-6{
        right: -8px;
        top: 0px;
    }
    
    .span-1, .span-3,.span-5{
        right: -5px;
    }

    @media screen and (min-width:500px){
        /* css variable */

/* universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    /* background: red; */
    color: white;
    text-transform: capitalize;
    /* text-align: center; */
    margin: 0 2rem;
}

.my-team{
    /* background: blue; */
    /* height: 100vh; */
    width: 90vw;
    margin: 2rem auto;
}
/* heading-1 */
.content-1{
    width: 50%;
    height: 100px;
    color: black;
    /* background: purple; */
    display: inline-block;
    padding-left: 3rem;
    text-align: left;
    clear: both;
}

.content-2{
    width: 45%;
    height: 100px;
    color: black;
    /* background: green; */
    float: right;
    margin-left: 2rem;
    clear: both;
}
/* paragraph */
p{
    width: 300px;
    justify-content: left;
}
/* container */
.container{
    width: 100%;
    height: calc(100% - 100px);
    /* background: yellow; */
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(3,250px);
    gap: 15px;
    justify-content: space-around;
}

/* children */

img{
    height: 70%;
    width: 80%;
}
h4{
    color: black;
    text-transform: capitalize;
    font-size: 10px;
    margin-left: 30px;
}

/* SPAN */
span{
    color: black;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    position: relative;
    left: 220px;
    top: -135px;
    font-size: 10px;
    font-weight: bold;
}


.cell-2{
    align-self: flex-end;
    margin-top: 2rem;
    
}



.cell-5{
    margin-top: 2rem;
    background: white;
    align-self: center;
}

.span-5,.span-2{
    position: relative;
    left: 220px;
    top: -175px;
} 
    }

